In [99]:
import pandas as pd
import numpy as np

In [100]:
trait_filename="Spermatophytes_basic_traits"
island_filename="Spermatophytes_basic_islands"

In [101]:
veg = pd.read_excel(f"./new/{island_filename}.xlsx", engine='openpyxl')

In [102]:
veg.head()

,Unnamed: 0,Atlasova,Shumshu,Paramushir,Antciferova,Makanrushi,Onekotan,Kharimkotan,Chirinkotan,Ekarma,...,Iturup,Kunashir,Shikotan,Polonskogo,Zeleny,Tanfileva,Yuriy,Demina,Storozhevoy,Anuchina
0,Abies.sachalinensis,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
1,Larix.kurilensis,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
2,Picea.glehnii,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
3,Picea.jezoensis,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
4,Pinus.parviflora,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [103]:
veg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162 entries, 0 to 1161
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1162 non-null   object
 1   Atlasova       1162 non-null   int64
 2   Shumshu        1162 non-null   int64
 3   Paramushir     1162 non-null   int64
 4   Antciferova    1162 non-null   int64
 5   Makanrushi     1162 non-null   int64
 6   Onekotan       1162 non-null   int64
 7   Kharimkotan    1162 non-null   int64
 8   Chirinkotan    1162 non-null   int64
 9   Ekarma         1162 non-null   int64
 10  Shiashkotan    1162 non-null   int64
 11  Raykoke        1162 non-null   int64
 12  Matua          1162 non-null   int64
 13  Rashua         1162 non-null   int64
 14  Ushishir       1162 non-null   int64
 15  Ketoy          1162 non-null   int64
 16  Simushir       1162 non-null   int64
 17  Broutona       1162 non-null   int64
 18  Chirpoy        1162 non-null   int64
 19  Brat Chirpoev  1162 non-null   int64
 20  Urup           1162 non-null   int64
 21  Iturup         1162 non-null   int64
 22  Kunashir       1162 non-null   int64
 23  Shikotan       1162 non-null   int64
 24  Polonskogo     1162 non-null   int64
 25  Zeleny         1162 non-null   int64
 26  Tanfileva      1162 non-null   int64
 27  Yuriy          1162 non-null   int64
 28  Demina         1162 non-null   int64
 29  Storozhevoy    1162 non-null   int64
 30  Anuchina       1162 non-null   int64
dtypes: int64(30), object(1)
memory usage: 281.5+ KB

In [104]:
traits = pd.read_excel(f"./new/{trait_filename}.xlsx",  engine='openpyxl')
#traits = pd.read_csv("traits.csv", sep=";")

In [105]:
traits.head()

,Unnamed: 0,Gymnospermae,Angiospermae,Magnoliopsida,Liliopsida,Woody,Herbal,Tree,Shrub,Small_shrub,Semi-shrub,Liana,Prostrate,Perennial,Annual-biennal,Summergreen,Wintergreen,Springreen,Evergreen
0,Abies.sachalinensis,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1
1,Larix.kurilensis,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0
2,Picea.glehnii,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1
3,Picea.jezoensis,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1
4,Pinus.parviflora,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1

In [106]:
traits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162 entries, 0 to 1161
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1162 non-null   object
 1   Gymnospermae    1162 non-null   int64
 2   Angiospermae    1162 non-null   int64
 3   Magnoliopsida   1162 non-null   int64
 4   Liliopsida      1162 non-null   int64
 5   Woody           1162 non-null   int64
 6   Herbal          1162 non-null   int64
 7   Tree            1162 non-null   int64
 8   Shrub           1162 non-null   int64
 9   Small_shrub     1162 non-null   int64
 10  Semi-shrub      1162 non-null   int64
 11  Liana           1162 non-null   int64
 12  Prostrate       1162 non-null   int64
 13  Perennial       1162 non-null   int64
 14  Annual-biennal  1162 non-null   int64
 15  Summergreen     1162 non-null   int64
 16  Wintergreen     1162 non-null   int64
 17  Springreen      1162 non-null   int64
 18  Evergreen       1162 non-null   int64
dtypes: int64(18), object(1)
memory usage: 172.6+ KB

## Check if both datasets have the same species

In [107]:
species1 = veg.iloc[:,0].values

In [108]:
species2 = traits.iloc[:,0].values

In [109]:
set(species2) - set(species1)

set()

In [110]:
assert len(set(species2) - set(species1)) == 0, "veg datasets should be wider than traits dataset!"

## Compute sample frequencies for a given island and all traits

In [111]:
all_species_on_islands = veg.iloc[(veg.iloc[:, 1:].sum(axis=1) >= 1).values, 0]

In [112]:
nums = traits.iloc[np.in1d(traits.iloc[:,0].values, all_species_on_islands.values),1:].sum(axis=0)

In [113]:
nums

Gymnospermae         9
Angiospermae      1150
Magnoliopsida      734
Liliopsida         416
Woody              173
Herbal             986
Tree                56
Shrub               74
Small_shrub         27
Semi-shrub          56
Liana               22
Prostrate            6
Perennial         1086
Annual-biennal      73
Summergreen       1099
Wintergreen         12
Springreen          10
Evergreen           38
dtype: int64

In [114]:
def get_traits_probs(trait_name='', island_name=''):
    if trait_name not in traits.columns:
        raise Exception(f"Such data trait doesn't exist: {trait_name}")
 
    if island_name not in veg.columns:
        raise Exception(f"Such island doesn't exist: {island_name}")
    
    
    trait_occ = traits.loc[:, trait_name].values == 1
    island_occ = veg.loc[:, island_name].values == 1
    
    species_tr = traits.iloc[trait_occ, 0]
    species_is = veg.iloc[island_occ, 0]
    
    common_species_num = len(set(species_tr.values).intersection(set(species_is.values)))
    expected_num = nums.get(trait_name) * (island_occ.sum() / len(veg))
    return common_species_num, expected_num, island_occ.sum()

In [115]:
def estimate_bin(m, n, iterations=100, alpha=0.05):
    prob_ests = np.random.binomial(n, m / n, iterations) / n
    low = np.quantile(prob_ests, alpha/2)
    up = np.quantile(prob_ests, 1-alpha/2)
    return np.round(low,3), np.round(up,3)

In [116]:

expectation = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])

In [117]:
from scipy.stats import norm

In [118]:
ind = 0
# res = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])
res = pd.DataFrame()
for trait_name in traits.columns[1:]:
    for is_name in veg.columns[1:]:
        obs, expected, total = get_traits_probs(trait_name, is_name)
        sd = np.sqrt(len(veg) * (expected / len(veg)) * (1 - (expected / len(veg))))
        z_score =  abs(expected - obs) / sd
        rvs = norm(loc=expected, scale=sd)
        res.loc[ind, "trait_name"] = trait_name
        res.loc[ind, "island"] = is_name
        res.loc[ind, "tot_sp"] = total
        res.loc[ind, "expected"] = np.round(expected, 2)
        res.loc[ind, "observed"] = obs
        res.loc[ind, "zscore"] = np.round(z_score, 2)
        res.loc[ind, "sd"] = np.round(sd, 3)
        res.loc[ind, "p-value"] = np.round(1 - rvs.cdf(obs) if obs > expected else rvs.cdf(obs), 4)
        ind += 1
res.to_csv(f"probs_{trait_filename}.csv")