In [1]:
import pandas as pd
import numpy as np

In [2]:
veg = pd.read_csv("islands.csv", sep=";")

In [3]:
veg.head()

,Unnamed: 0,Atlasova,Shumshu,Paramushir,Antciferova,Makanrushi,Onekotan,Kharimkotan,Chirinkotan,Ekarma,...,Iturup,Kunashir,Shikotan,Polonskogo,Zeleny,Tanfileva,Yuriy,Demina,Storozhevoy,Anuchina
0,Diphasiastrum.alpinum,1,1,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Diphasiastrum.complanatum,0,1,1,0,0,1,1,0,0,...,1,1,1,0,0,0,0,0,0,0
2,Diphasiastrum.sitchense,1,1,1,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3,Huperzia.miyoshiana,0,1,1,0,0,1,0,0,0,...,1,1,1,0,0,0,0,0,0,0
4,Huperzia.petrovii,0,1,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
veg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1244 non-null   object
 1   Atlasova       1244 non-null   int64
 2   Shumshu        1244 non-null   int64
 3   Paramushir     1244 non-null   int64
 4   Antciferova    1244 non-null   int64
 5   Makanrushi     1244 non-null   int64
 6   Onekotan       1244 non-null   int64
 7   Kharimkotan    1244 non-null   int64
 8   Chirinkotan    1244 non-null   int64
 9   Ekarma         1244 non-null   int64
 10  Shiashkotan    1244 non-null   int64
 11  Raykoke        1244 non-null   int64
 12  Matua          1244 non-null   int64
 13  Rashua         1244 non-null   int64
 14  Ushishir       1244 non-null   int64
 15  Ketoy          1244 non-null   int64
 16  Simushir       1244 non-null   int64
 17  Broutona       1244 non-null   int64
 18  Chirpoy        1244 non-null   int64
 19  Brat.Chirpoev  1244 non-null   int64
 20  Urup           1244 non-null   int64
 21  Iturup         1244 non-null   int64
 22  Kunashir       1244 non-null   int64
 23  Shikotan       1244 non-null   int64
 24  Polonskogo     1244 non-null   int64
 25  Zeleny         1244 non-null   int64
 26  Tanfileva      1244 non-null   int64
 27  Yuriy          1244 non-null   int64
 28  Demina         1244 non-null   int64
 29  Storozhevoy    1244 non-null   int64
 30  Anuchina       1244 non-null   int64
dtypes: int64(30), object(1)
memory usage: 301.4+ KB

In [5]:
traits = pd.read_csv("traits.csv", sep=";")

In [6]:
traits.head()

,Unnamed: 0,Lycopodiophyta,Pteridophyta,Gymnospermae,Angiospermae,Magnoliopsida,Liliopsida,Woody,Herbal,Tree,Shrub,Small_shrub,Semi-shrub,Liana,Prostrate,Perennial,Annual-biennal
0,Diphasiastrum.alpinum,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,Diphasiastrum.complanatum,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
2,Diphasiastrum.sitchense,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,Huperzia.miyoshiana,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
4,Huperzia.petrovii,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0

In [7]:
traits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1244 non-null   object
 1   Lycopodiophyta  1244 non-null   int64
 2   Pteridophyta    1244 non-null   int64
 3   Gymnospermae    1244 non-null   int64
 4   Angiospermae    1244 non-null   int64
 5   Magnoliopsida   1244 non-null   int64
 6   Liliopsida      1244 non-null   int64
 7   Woody           1244 non-null   int64
 8   Herbal          1244 non-null   int64
 9   Tree            1244 non-null   int64
 10  Shrub           1244 non-null   int64
 11  Small_shrub     1244 non-null   int64
 12  Semi-shrub      1244 non-null   int64
 13  Liana           1244 non-null   int64
 14  Prostrate       1244 non-null   int64
 15  Perennial       1244 non-null   int64
 16  Annual-biennal  1244 non-null   int64
dtypes: int64(16), object(1)
memory usage: 165.3+ KB

## Check if both datasets have the same species

In [8]:
species1 = veg.iloc[:,0].values

In [9]:
species2 = traits.iloc[:,0].values

In [10]:
set(species1) == set(species2)

True

## Compute sample frequencies for a given island and all traits

In [37]:
all_species_on_islands = veg.iloc[(veg.iloc[:, 1:].sum(axis=1) >= 1).values, 0]

In [42]:
nums = traits.iloc[np.in1d(traits.iloc[:,0].values, all_species_on_islands.values),1:].sum(axis=0)

In [63]:
def get_traits_probs(trait_name='', island_name=''):
    if trait_name not in traits.columns:
        raise Exception(f"Such data trait doesn't exist: {trait_name}")
 
    if island_name not in veg.columns:
        raise Exception(f"Such island doesn't exist: {island_name}")
    
    
    trait_occ = traits.loc[:, trait_name].values == 1
    island_occ = veg.loc[:, island_name].values == 1
    
    species_tr = traits.iloc[trait_occ, 0]
    species_is = traits.iloc[island_occ, 0]
    
    common_species_num = len(set(species_tr.values).intersection(set(species_is.values)))
    expected_num = nums.get(trait_name) * (island_occ.sum() / len(veg))
    return common_species_num, expected_num, island_occ.sum()

In [64]:
def estimate_bin(m, n, iterations=100, alpha=0.05):
    prob_ests = np.random.binomial(n, m / n, iterations) / n
    low = np.quantile(prob_ests, alpha/2)
    up = np.quantile(prob_ests, 1-alpha/2)
    return np.round(low,3), np.round(up,3)

In [65]:

expectation = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])

In [69]:
from scipy.stats import norm

In [94]:
for alpha in [0.05,]:
    ind = 0
    # res = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])
    res = pd.DataFrame()
    for trait_name in traits.columns[1:]:
        for is_name in veg.columns[1:]:
            obs, expected, total = get_traits_probs(trait_name, is_name)
            sd = np.sqrt(len(veg) * (expected / len(veg)) * (1 - (expected / len(veg))))
            z_score =  abs(expected - obs) / sd
            rvs = norm(loc=expected, scale=sd)
            res.loc[ind, "trait_name"] = trait_name
            res.loc[ind, "island"] = is_name
            res.loc[ind, "tot_sp"] = total
            res.loc[ind, "expected"] = np.round(expected, 2)
            res.loc[ind, "observed"] = obs
            res.loc[ind, "zscore"] = np.round(z_score, 2)
            res.loc[ind, "sd"] = np.round(sd, 3)
            res.loc[ind, "p-value"] = np.round(1 - rvs.cdf(obs) if obs > expected else rvs.cdf(obs), 4)
            ind += 1
    res.to_csv(f"probs_{alpha}.csv")
expectation.to_csv("expectations.csv")

In [86]:
rvs = norm(loc=33.6, scale=5.722)

In [92]:
rvs.cdf(24.0)

0.046699416142358195