In [255]:
import pandas as pd
import numpy as np

In [256]:
trait_filename="Herbs_biomorphology_traits"

In [257]:
veg = pd.read_csv("islands.csv", sep=";")

In [258]:
veg.head()

,Unnamed: 0,Atlasova,Shumshu,Paramushir,Antciferova,Makanrushi,Onekotan,Kharimkotan,Chirinkotan,Ekarma,...,Iturup,Kunashir,Shikotan,Polonskogo,Zeleny,Tanfileva,Yuriy,Demina,Storozhevoy,Anuchina
0,Diphasiastrum.alpinum,1,1,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Diphasiastrum.complanatum,0,1,1,0,0,1,1,0,0,...,1,1,1,0,0,0,0,0,0,0
2,Diphasiastrum.sitchense,1,1,1,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3,Huperzia.miyoshiana,0,1,1,0,0,1,0,0,0,...,1,1,1,0,0,0,0,0,0,0
4,Huperzia.petrovii,0,1,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [259]:
veg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1244 non-null   object
 1   Atlasova       1244 non-null   int64
 2   Shumshu        1244 non-null   int64
 3   Paramushir     1244 non-null   int64
 4   Antciferova    1244 non-null   int64
 5   Makanrushi     1244 non-null   int64
 6   Onekotan       1244 non-null   int64
 7   Kharimkotan    1244 non-null   int64
 8   Chirinkotan    1244 non-null   int64
 9   Ekarma         1244 non-null   int64
 10  Shiashkotan    1244 non-null   int64
 11  Raykoke        1244 non-null   int64
 12  Matua          1244 non-null   int64
 13  Rashua         1244 non-null   int64
 14  Ushishir       1244 non-null   int64
 15  Ketoy          1244 non-null   int64
 16  Simushir       1244 non-null   int64
 17  Broutona       1244 non-null   int64
 18  Chirpoy        1244 non-null   int64
 19  Brat.Chirpoev  1244 non-null   int64
 20  Urup           1244 non-null   int64
 21  Iturup         1244 non-null   int64
 22  Kunashir       1244 non-null   int64
 23  Shikotan       1244 non-null   int64
 24  Polonskogo     1244 non-null   int64
 25  Zeleny         1244 non-null   int64
 26  Tanfileva      1244 non-null   int64
 27  Yuriy          1244 non-null   int64
 28  Demina         1244 non-null   int64
 29  Storozhevoy    1244 non-null   int64
 30  Anuchina       1244 non-null   int64
dtypes: int64(30), object(1)
memory usage: 301.4+ KB

In [260]:
traits = pd.read_excel(f"./traits/{trait_filename}.xlsx", sep=";")
#traits = pd.read_csv("traits.csv", sep=";")

In [261]:
traits.head()

,Unnamed: 0,Taproot,Fibrous-root,Tuberous-adventitious-roots,Thickened-adventitious-roots,Tuberous,Multi-headed-caudex,Bulb,Short-rhizome,Long-rhizome,...,Elongated-shoot,Upright-shoot,Lodging-shoot,Half-rising-shoot,Procumbent-shoot,Repent-shoot,Climbing-shoot,Submerged-shoot,Float-shoot,Anchoring-shoot
0,Chloranthus.quadrifolius,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
1,Chloranthus.serratus,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
2,Asarum.heterotropoides,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
3,Nuphar.pumila,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,Nymphaea.tetragona,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [262]:
traits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    962 non-null    object
 1   Taproot                       962 non-null    int64
 2   Fibrous-root                  962 non-null    int64
 3   Tuberous-adventitious-roots   962 non-null    int64
 4   Thickened-adventitious-roots  962 non-null    int64
 5   Tuberous                      962 non-null    int64
 6   Multi-headed-caudex           962 non-null    int64
 7   Bulb                          962 non-null    int64
 8   Short-rhizome                 962 non-null    int64
 9   Long-rhizome                  962 non-null    int64
 10  Thin-rhizome                  962 non-null    int64
 11  Thick-rhizome                 962 non-null    int64
 12  Rootstock                     962 non-null    int64
 13  Stolon-forming                962 non-null    int64
 14  Monopodial                    962 non-null    int64
 15  Simpodial                     962 non-null    int64
 16  Dense-tussock                 962 non-null    int64
 17  Sparse-tussock                962 non-null    int64
 18  Cushion                       962 non-null    int64
 19  Rosette                       962 non-null    int64
 20  Semi-rosette                  962 non-null    int64
 21  tussock-forming               962 non-null    int64
 22  Elongated-shoot               962 non-null    int64
 23  Upright-shoot                 962 non-null    int64
 24  Lodging-shoot                 962 non-null    int64
 25  Half-rising-shoot             962 non-null    int64
 26  Procumbent-shoot              962 non-null    int64
 27  Repent-shoot                  962 non-null    int64
 28  Climbing-shoot                962 non-null    int64
 29  Submerged-shoot               962 non-null    int64
 30  Float-shoot                   962 non-null    int64
 31  Anchoring-shoot               962 non-null    int64
dtypes: int64(31), object(1)
memory usage: 240.6+ KB

## Check if both datasets have the same species

In [263]:
species1 = veg.iloc[:,0].values

In [264]:
species2 = traits.iloc[:,0].values

In [265]:
set(species2) - set(species1)

set()

In [266]:
assert len(set(species2) - set(species1)) == 0, "veg datasets should be wider than traits dataset!"

## Compute sample frequencies for a given island and all traits

In [267]:
all_species_on_islands = veg.iloc[(veg.iloc[:, 1:].sum(axis=1) >= 1).values, 0]

In [268]:
nums = traits.iloc[np.in1d(traits.iloc[:,0].values, all_species_on_islands.values),1:].sum(axis=0)

In [269]:
nums

Taproot                         194
Fibrous-root                    299
Tuberous-adventitious-roots       7
Thickened-adventitious-roots     17
Tuberous                         30
Multi-headed-caudex              54
Bulb                             15
Short-rhizome                   389
Long-rhizome                    344
Thin-rhizome                    298
Thick-rhizome                    48
Rootstock                         6
Stolon-forming                   27
Monopodial                      129
Simpodial                       822
Dense-tussock                    95
Sparse-tussock                   63
Cushion                           1
Rosette                         286
Semi-rosette                    258
tussock-forming                   6
Elongated-shoot                 411
Upright-shoot                   818
Lodging-shoot                    19
Half-rising-shoot                45
Procumbent-shoot                 13
Repent-shoot                     13
Climbing-shoot                    0
Submerged-shoot                  26
Float-shoot                      16
Anchoring-shoot                   0
dtype: int64

In [270]:
def get_traits_probs(trait_name='', island_name=''):
    if trait_name not in traits.columns:
        raise Exception(f"Such data trait doesn't exist: {trait_name}")
 
    if island_name not in veg.columns:
        raise Exception(f"Such island doesn't exist: {island_name}")
    
    
    trait_occ = traits.loc[:, trait_name].values == 1
    island_occ = veg.loc[:, island_name].values == 1
    
    species_tr = traits.iloc[trait_occ, 0]
    species_is = veg.iloc[island_occ, 0]
    
    common_species_num = len(set(species_tr.values).intersection(set(species_is.values)))
    expected_num = nums.get(trait_name) * (island_occ.sum() / len(veg))
    return common_species_num, expected_num, island_occ.sum()

In [271]:
def estimate_bin(m, n, iterations=100, alpha=0.05):
    prob_ests = np.random.binomial(n, m / n, iterations) / n
    low = np.quantile(prob_ests, alpha/2)
    up = np.quantile(prob_ests, 1-alpha/2)
    return np.round(low,3), np.round(up,3)

In [272]:

expectation = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])

In [273]:
from scipy.stats import norm

In [274]:
ind = 0
# res = pd.DataFrame(index=traits.columns[1:], columns=veg.columns[1:])
res = pd.DataFrame()
for trait_name in traits.columns[1:]:
    for is_name in veg.columns[1:]:
        obs, expected, total = get_traits_probs(trait_name, is_name)
        sd = np.sqrt(len(veg) * (expected / len(veg)) * (1 - (expected / len(veg))))
        z_score =  abs(expected - obs) / sd
        rvs = norm(loc=expected, scale=sd)
        res.loc[ind, "trait_name"] = trait_name
        res.loc[ind, "island"] = is_name
        res.loc[ind, "tot_sp"] = total
        res.loc[ind, "expected"] = np.round(expected, 2)
        res.loc[ind, "observed"] = obs
        res.loc[ind, "zscore"] = np.round(z_score, 2)
        res.loc[ind, "sd"] = np.round(sd, 3)
        res.loc[ind, "p-value"] = np.round(1 - rvs.cdf(obs) if obs > expected else rvs.cdf(obs), 4)
        ind += 1
res.to_csv(f"probs_{trait_filename}.csv")

<ipython-input-274-3fe31375a90c>:8: RuntimeWarning: invalid value encountered in double_scalars
  z_score =  abs(expected - obs) / sd
C:\Users\ASUS\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1844: RuntimeWarning: invalid value encountered in double_scalars
  x = np.asarray((x - loc)/scale, dtype=dtyp)
C:\Users\ASUS\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1847: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= np.asarray(_b)) & cond0

In [275]:
rvs = norm(loc=33.6, scale=5.722)

In [276]:
rvs.cdf(24.0)

0.046699416142358195